<h1>Edit Comment</h1>

<%= form_for (@comment) do |f| %>
    <%= f.label "Headline" %> 
    <%= f.text_field :headline%><br></br>
    <%= f.label "Description" %> 
    <%= f.text_field :description %><br></br>

    <%= f.submit %> 
<% end %>
