<h1>All Comments</h1>



<h2><%= @comment.work.title %> </h2>
<h3>Headline: <%= @comment.headline %></h3>
<h4>Description: <%= @comment.description %></h4>


<% if @comment.user.id == @current_user.id %>

 <%= link_to "edit", edit_work_comment_path(@work, @comment), method: 'patch' %>
 <%= button_to "delete", work_comment_path(@comment.id), method: 'delete' %>

<% end %>

