<%= form_for @work do |f| %>
  <%= render partial: "form", locals: { in_the_partial |f| }
  <h3>And add a comment:</h3>
  <%= f.fields_for :works do |s| %>
      <%= s.label "Headline" %>
      <%= s.text_field :headline %>
      <%= s.label "Comment" %>
      <%= s.text_field :comment %>
      <% end %>
      <%= f.submit %>
  <% end %>


  