<h1>Show Page</h1>

<%= form_for(@work) do |f| %>
    <%= f.label "Title" %>
    <%= f.text_field :title %><br></br>
    <%= f.label "Artist" %>
    <%= f.text_field :artist %><br></br>
    <%= f.label "Year" %>
    <%= f.text_field :year %><br></br>
    <%= f.label "Medium" %>
    <%= f.text_field :medium %><br></br>
    <h2> Add a Comment: </h2>
    <%= f.text_field :comment_id %><br></br>
    <%= f.submit %>
    <% end %>



