<h1><%= @work.title %> </h1>

<h2> Artist: <%= @work.artist %> </h2>
<h2> Year Made: <%= @work.year %> </h2>
<h2> Medium: <%= @work.medium %> </h2>

<h2> Comments: </h2>
<%= render @work.comments %>


