<h2>Show Page: </h2>
<h3><em>Artist:</em> <%= @work.artist %> </h3>
<p><em>Title:</em> <%= @work.title %></p>
<p><em>Year:</em> <%=  @work.year %></p>
<p><em>Medium:</em> <%= @work.medium %> </p>



<h3><%= link_to 'Add a Comment', new_work_comment_path( @work, @comment) %></h3>
