<!DOCTYPE html>
<html>
  <head>
    <title>Work Comments</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="l-box">
    <div>
      <%= link_to "All Comments", comments_path %> |
      <%= link_to "Create a New Comment", new_comment_path %>  |
      <%= link_to "All Works", works_path %> |
    </div>


    <%= yield %>
  </body>
</html>