<!DOCTYPE HTML>
<html> 
  <head>
  
    <meta charset="utf-8" />

    <title>The GallerySpace</title>

  </head>
  <body>
    <div class="nav">
    <div></div>
    <% if logged_in? %> 
    <%= link_to "All Works", works_path %> |
    <%= link_to "Log Out", logout_path %> |
    <% else %>
    <%= link_to "Sign Up", new_user_path %>|
    <%= link_to "Login", login_path %>|

    <% end %>

  
    </div>
    <br>
    <h1 class="welcome"><u> Welcome to GallerySpace!</u></h1>
    <h2 class="emphasis"><em>A virtual space for art collectors and enthusiasts </em></h2>
    <%= yield %>
  </body>
</html>
